WebApplication1/Service References/EmployeeServiceReference/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ShowEmployeeList">
        <s:complexType />
      </s:element>
      <s:element name="ShowEmployeeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowEmployeeListResult" type="tns:ArrayOfSearchModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSearchModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SearchModel" nillable="true" type="tns:SearchModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SearchModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Birthdate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BossID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DepartmentID" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchEmployeeResult" type="tns:ArrayOfSearchModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ShowEmployeeListSoapIn">
    <wsdl:part name="parameters" element="tns:ShowEmployeeList" />
  </wsdl:message>
  <wsdl:message name="ShowEmployeeListSoapOut">
    <wsdl:part name="parameters" element="tns:ShowEmployeeListResponse" />
  </wsdl:message>
  <wsdl:message name="SearchEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:SearchEmployee" />
  </wsdl:message>
  <wsdl:message name="SearchEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:SearchEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="EmployeeServiceSoap">
    <wsdl:operation name="ListEmployee">
      <wsdl:input name="ShowEmployeeList" message="tns:ShowEmployeeListSoapIn" />
      <wsdl:output name="ShowEmployeeList" message="tns:ShowEmployeeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListEmployee">
      <wsdl:input name="SearchEmployee" message="tns:SearchEmployeeSoapIn" />
      <wsdl:output name="SearchEmployee" message="tns:SearchEmployeeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeServiceSoap" type="tns:EmployeeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListEmployee">
      <soap:operation soapAction="http://tempuri.org/ShowEmployeeList" style="document" />
      <wsdl:input name="ShowEmployeeList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ShowEmployeeList">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEmployee">
      <soap:operation soapAction="http://tempuri.org/SearchEmployee" style="document" />
      <wsdl:input name="SearchEmployee">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchEmployee">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmployeeServiceSoap12" type="tns:EmployeeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListEmployee">
      <soap12:operation soapAction="http://tempuri.org/ShowEmployeeList" style="document" />
      <wsdl:input name="ShowEmployeeList">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ShowEmployeeList">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEmployee">
      <soap12:operation soapAction="http://tempuri.org/SearchEmployee" style="document" />
      <wsdl:input name="SearchEmployee">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchEmployee">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="EmployeeServiceSoap" binding="tns:EmployeeServiceSoap">
      <soap:address location="http://localhost:10784/Exam_Webservice/EmployeeService.asmx" />
    </wsdl:port>
    <wsdl:port name="EmployeeServiceSoap12" binding="tns:EmployeeServiceSoap12">
      <soap12:address location="http://localhost:10784/Exam_Webservice/EmployeeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>